.header{
	background-color: salmon;
	position: relative;
	width: 100%;
}

h1{
	text-align: center;
	font-size: 90px;
	font-weight: bold;
	padding: 0px 0 0px 0; 
	font-family: 'Shrikhand', cursive;
}

h2{
	text-align: center;
	font-size: 18px;
	padding-bottom: 40px;
	font-family: 'Shrikhand', cursive;
}
